/* home-box 导航栏 */
.el-tabs__item:hover {
  color: #ffffff;
}
.el-tabs__nav-wrap::after {
  background-color: transparent;
}
.el-tabs__item {
	font-size: 16px;
	color: #afafaf;
}
.el-tabs__item.is-active {
  color: #fff;
}
.el-tabs__active-bar {
  height: 3px;
  background-color: #28d2be;
  border-radius: 1px;
}

.el-submenu__icon-arrow {
  right: initial;
  position: 0;
  margin-top: -6px;
  margin-left: 10px;
}
.el-menu-item, .el-submenu__title {
  height: 50px;
  line-height: 50px;
}
.el-submenu__title i {
  font-size: 14px;
}
.el-select .el-input__inner {
	height: 34px;
	background-color: #182633;
	/* border-radius: 2px; */
	/* border: solid 1px rgba(255, 255, 255, 0.07); */
}
.el-select .el-input .el-select__caret {
  width: 25px;
  line-height: 34px;
}
.el-form-item .el-input__inner {
  width: 260px;
	height: 40px;
	background-color: #182633;
	border-radius: 2px;
  border: solid 1px rgba(255, 255, 255, 0.07);
}
/* .el-input__inner:hover {
  border-color: red;
}
.el-input__inner:focus {
  border: 0;
} */
.el-select:hover .el-input__inner {
  border-color: rgba(255, 255, 255, 0.07);
}
.el-select .el-input__inner {
  background-color: #182633;
  border: 0px;
  color: #fff;
  width: 90px;
  padding-left: 5px;
  font-family: PingFang-SC-Regular;
}
/* .el-input__inner:hover {
  border: 0;
} */

.el-select-dropdown {
  background-color: #2f3d4b;
  border-radius: 4px;
  border-color: #2f3d4b;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border: 0;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  border: 0;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #2f3d4b;
  color: #606266;
}
.el-select-dropdown__item.selected {
  color: #ffffff;
  font-weight: normal;
}
.el-select-dropdown__item {
  color: #afafaf;
}
.el-table tr {
  background-color: #182633;
}
.el-table th {
  background-color: #1c2c3b;
}
.el-table td, .el-table th.is-leaf {
  border: 0;
  border-right: 2px solid #1f3147;;
}
.el-table th>.cell {
  padding: 0;
}
.el-checkbox__input.is-disabled .el-checkbox__inner {
  background-color: #182633;
  border-radius: 2px;
  border: solid 1px rgba(255, 255, 255, 0.3);
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #28d2be;
  border-color: #28d2be;
}
.el-checkbox__inner {
  /* width: 20px;
  height: 20px; */
  background-color: #182633;
  border-radius: 2px;
  border: solid 1px rgba(255, 255, 255, 0.3);
}
.el-dropdown-menu__item {
  color: #afafaf;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #1c2c3b;
}
.el-table--striped .el-table__body tr.el-table__row--striped:hover td {
  background-color: #1c2c3b;
}
.el-table--enable-row-transition .el-table__body tr:hover td {
  background-color: transparent;
}
.el-table thead {
	font-size: 14px;
  font-weight: normal;
  color: #afafaf;
}
.el-table td, .el-table th {
  padding: 0;
  text-align: center;
}
th {
  font-weight:  normal;
}
.el-table .cell, .el-table th div {
  padding: 0;
  white-space: normal;
  word-break: break-all;
  line-height: 38px;
}
/* .el-table__header-wrapper {
  position:fixed;
  overflow: hidden;
  top: 240px;
  z-index: 999;
} */
/* .el-table__body-wrapper {
  margin-top: 38px;
} */

input::-webkit-input-placeholder {
	font-family: PingFang-SC-Regular;
	/* color: #afafaf; */
}
.el-menu-item [class^=el-icon-] {
  margin: 0;
}
.el-submenu [class^=el-icon-] {
  margin: 0;
}


/* Switch开关 */
.el-switch__label {
  position: absolute;
  display: none;
  font-weight:normal;
}
.el-switch__label--left {
  z-index: 9;
  left:30px;
  color: #999;
}
.el-switch__label--right {
  z-index: 9;
  left: -3px;
  color: #fff;
}
.el-switch__label.is-active {
  display: block;
  height:26px;
  line-height:26px;
}

.el-switch,.el-switch__core{
  height:26px;
  line-height:26px;
}
.el-switch__label.is-active{
  z-index: 1111;
  color: #fff;
}
.el-switch__label * {
  font-size: 14px;
}
.el-switch__core {
  border-radius: 13px;
  background-color: #808080;
  border: 0;
}
.el-switch.is-checked .el-switch__core {
  background-color: #28d2be;
  border: 0;
}
.el-switch__core:after{
  width: 22px;
  height: 22px;
  top: 2px;
  left: 2px;
}
.el-switch.is-checked .el-switch__core::after {
  margin-left: -24px;
}
.el-submenu__title i {
  color: #fff;
}
.el-submenu__title i:hover {
  color: rgb(40, 210, 190);
}

/* tree */
.el-tree-node>.el-tree-node__children {
  overflow: visible;
}
.el-tree-node__content {
  height: 38px;
}
.el-tree-node__expand-icon {
  font-size: 16px;
}
.el-tree-node:hover > .el-tree-node__content {
  background-color: transparent !important;
}
.el-tree-node:focus > .el-tree-node__content {
  background-color: transparent !important;
}


/* WebKit browsers */
input::-webkit-input-placeholder {
  font-family: PingFang-SC-Regular;
}
/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
  font-family: PingFang-SC-Regular;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
  font-family: PingFang-SC-Regular;
}
/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  font-family: PingFang-SC-Regular;
  color: red;
}